body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  padding-inline-start: 170px;
  font-style: normal;
  font-size: 2rem;
  transition: 0.6s ease-in all;
}

.offcanvas {
  z-index: 1055 !important;
}

@media screen and (max-width: 358px) {
  .navbar-toggler {
    position: relative;
    margin-inline: 70vw;
  }
  .navbar-brand {
    padding-inline-start: 35vw;
    font-style: normal;
    font-size: 2rem;
    transition: 0.6s ease-in all;
  }
  .profile-pic {
    width: 100px !important;
    transition: 0.6s ease-in all;
  }
}
@media screen and (max-width: 510px) {
  .navbar-toggler {
    position: relative;
    flex: auto;
    margin-inline: 40vw;
  }
  .aboutText h1 {
    padding-top: 55% !important;
  }
  .aboutText p {
    font-size: 1.2rem !important;
  }
}
html:not([data-scroll="0"]) .profile-pic {
  position: relative;
  display: block;
  z-index: 1000;
  top: 55vh;
  left: 10vw;
  width: 20vw;
  padding-bottom: 500px;
  transition: 0.6s ease-in all;
}
html:not([data-scroll="0"]) .navbar-brand {
  padding-inline-start: 10px;
  font-style: normal;
  font-size: 2rem;
  transition: 0.6s ease-in all;
}
@media screen and (max-width: 518px) {
  html:not([data-scroll="0"]) .navbar-toggler {
    position: initial;
    display: inline;
    flex: content;
    margin-inline: 1vw;
    min-width: 30px;
    max-width: 56px;
    transition: 0.6s ease all;
  }
}

.main {
  position: relative;
  overflow-y: hidden;
}
.main .profile-pic {
  position: fixed;
  z-index: var(--z-index-profile);
  top: 10px;
  left: 10px;
  width: 150px;
  transition: 0.6s ease-in all;
}

.about {
  position: relative;
  height: 115vh;
  background-color: lightgray;
}
.about .aboutText h1 {
  padding-top: 40%;
  padding-left: 10vw;
  padding-right: 10vh;
}
.about .aboutText p {
  padding-right: 10vw;
}

.cardTemplate {
  position: relative;
  margin-bottom: 50px;
  width: 100vw;
  background-color: azure;
  overflow: hidden;
}

.techTemplate {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 50px;
  width: 100vw;
  background-color: rgb(235, 233, 233);
  overflow: hidden;
}

.hide-original {
  opacity: 0;
  overflow: hidden;
  animation: hide 8s;
}

.hide {
  opacity: 0;
  overflow-x: hidden;
}

.showText {
  overflow: hidden;
  animation: showTextAnime 8s;
}

.showHeaderAnime {
  opacity: 1;
  animation: showHeaderAnime 8s;
}

@keyframes hide {
  0% {
    opacity: 1;
    overflow: visible;
  }
  50% {
    opacity: 0.5;
    overflow: visible;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}
@keyframes showTextAnime {
  0% {
    overflow: visible;
  }
  99% {
    overflow: visible;
  }
  100% {
    overflow: hidden;
  }
}
@keyframes showHeaderAnime {
  0% {
    opacity: 0;
    overflow: visible;
  }
  50% {
    opacity: 0.5;
    overflow: visible;
  }
  100% {
    opacity: 1;
    overflow: hidden;
  }
}
.tech-img {
  width: 50px;
  height: 50px;
}

.tech-p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: black;
}

div.tech-container {
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #bbbbbb;
  border-radius: 15px;
  border: 2px solid darkgray;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  transition: 0.3s all;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}/*# sourceMappingURL=style.css.map */